<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.imoshikasewwandi.styleomegaassignment">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".RegisterActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".LoginActivity" />
        </activity>
        <activity
            android:name=".MainScreen"
            android:label="@string/title_activity_display_catagories"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".WomenDresses" />
        <activity android:name=".WomenJeans" />
        <activity android:name=".WomenSkirts" />
        <activity android:name=".WomenJumpsuits" />
        <activity android:name=".WomenTopwear" />
        <activity android:name=".ClothesDetailScreen" />
        <activity android:name=".UpdateProfileActivity" />
        <activity android:name=".MenShirts" />
        <activity android:name=".MenTShirts" />
        <activity android:name=".MenJackets" />
        <activity android:name=".MenShorts" />
        <activity android:name=".MenJeans" />
        <activity android:name=".KidsWear"></activity>
    </application>

</manifest>